/******************************************
GENERAL
*******************************************/



a {
	text-decoration: none;
}

.effetto-opaco{
	display: none;
	opacity:    0.8; 
	filter: alpha(opacity=80); /* For IE8 and earlier */
	background: #ffffff; 
	width:      100%;
	height:     100%; 
	z-index:    5;
	top:        0; 
	left:       0; 
	position:   fixed;
	/*opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

body {
	font-family: "Arial Narrow", Arial, sans-serif;
}

.container { /*sticky footer in fondo alla pagina (questo è buono se il footer ha dimensione fissa*/
	min-height: calc(100vh - 201px);
}

.show{display:block!important} /*classe per mostrare il menu con javascript al click dell'icona*/
.hide{display:none} 

.clearfix::after{ /*per risolvere il margin collapse e far occupare tutto lo spazio*/
	content: " "; /*crea elemento vuoto all'estremità inferiore del tag*/
	display: table; 
	clear: both;
}

/******************************************
HEADER
*******************************************/

header {
	background-color: red;
	/*background-image: url("../img/template/header-desktop.jpg");
	background-repeat: no-repeat;
	height: 289px;*/
	margin: 0 0 0 0;  /*margine esterno al blocco*/
	/*padding: 5px 0 5px 0;  /*margine interno al blocco*/
	padding: 0 0;
	/*overflow: auto; /*per evitare che sparisca con il logo a sinistra -- poi tolto per menu a tendina*/
}

#logo {
	text-align: center;
	display: inline-block;
	/*padding-left: 5%;*/
	width: 100%;
}

h1 {
	color: #000000;
	font-family: "Arial Narrow", Arial, sans-serif;
	margin: 20px 0 10px 0;
	font-size: 8.0em;
	font-weight: normal;
}

h2 {
	color: #000000;
	font-family: "Arial Narrow", Arial, sans-serif;
	/*margin: 15px 0 20px 0;*/
	margin: 0;
	font-size: 2.0em;
}

.container-icona-menu{
	width: 100%;
}



/******************************************
NAV
*******************************************/

nav {
	background-color: blue;
	text-align: center;
	position: relative;
	padding: 25px 0;
	display: block;
	width: 100%;
	z-index: 10;
}

nav a {/*tutti gli elementi "a" dentro "nav"*/
	color: #FFFFFF;
	font-size: normal;
}

nav ul{
	list-style: none; /*elimino i ballet neri della lista*/
	margin: 0; /*solo due valori sottindento che va su, dx e si ripete giu e sx*/
	padding: 0; /*ul di default ha del padding a sinistra*/
}

nav li{
	display: inline-block; /*mostro orizzontalmente i box model*/
	padding: 0 1%;
}

nav a:hover{
	color: #bfbfbf; /* cambio colore quando il mouse passa sui link*/
	font-size: bold;
}

nav a.selected{
	color: #bfbfbf;  /* coloro il link della pagina attivav*/
	font-size: bold;
}

/*.main-menu{
	/*display: none;
	position: absolute;
	z-index: 10;
}*/

.sub-menu {
	display: inline-block;
}

.child-menu{
	display: none;
	background-color: black;
	position: absolute;
}

.child-menu li{
	display: block;
}




/******************************************
SECTION
*******************************************/

.wrapper{
	max-width: 940px;
	margin:0 auto 0 auto; /*si accentra*/
	padding:30px 5% 30px 5%;  /*% sull'orizzontale per essere responsive*/
}

/******************************************
FOOTER
*******************************************/

footer{
	background-color: red;
	text-align: center;
	clear: both; /*per avere pulito destra e sinistra, quindi resta sotto tutto*/
	padding: 0 0 0 0;
	/*background-image: url("../img/template/footer-desktop.jpg");
	background-repeat: no-repeat;
	height: 201px;*/
}

footer p{
	font-size: 0.85em;
}

.social-copyright{
	padding-top: 60px;
}

.icona-social{
	width: 48px;
	height: 48px;
	margin: 0 5px;
}


